* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
  }
  html {
    font-size: 12px;
    width: 100%;
    height: 100%;
  }
  /* Style the body */
  body {
    font-family: Arial;
  }
  .uppersection h1{
    font-size: 64px;
    padding: 160px 0px 90px 0px;
    text-align: center;
  }
  .upperlist {
    font-size: 30px;
    text-align: center;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
  }
  .uppersection h1 {
    color: rgb(65, 65, 65);
  }
  .upperlist a {
    color: rgb(65, 65, 65);
    margin: 16px;
    padding: 16px;
    border-bottom: 2px solid rgb(141, 141, 141);
    text-decoration: none;
    text-align: center;
    
  }
  @keyframes bg { /* Animation for links */
    0% {
        background-size:    0 2px,
                            2px 0,
                            0 2px,
                            2px 0;
    }
    25% {
        background-size:    0 2px,    /* Start from bottom left corner */
                            2px 0,
                            0 2px,
                            2px 100%;
    }
    50% {
        background-size:    100% 2px,
                            2px 0,
                            0 2px,
                            2px 100%;
    }
    75% {
        background-size:    100% 2px,
                            2px 100%,
                            0 2px,
                            2px 100%;
    }
    100% {
        background-size:    100% 2px,
                            2px 100%,
                            100% 2px,
                            2px 100%;
    }
}
  .upperlist a:hover {
    transform: translateY(-2px);
  }
  .upperlist a:hover {
    background-repeat: no-repeat;
    background-image:   linear-gradient(to right, rgb(65, 65, 65) 100%, rgb(65, 65, 65) 100%),
                        linear-gradient(to bottom, rgb(65, 65, 65) 100%, rgb(65, 65, 65) 100%),
                        linear-gradient(to right, rgb(65, 65, 65) 100%, rgb(65, 65, 65) 100%),
                        linear-gradient(to bottom, rgb(65, 65, 65) 100%, rgb(65, 65, 65) 100%);
    background-size:    100% 2px,
                        2px 100%,
                        0 2px,
                        2px 100%;
    background-position:    0 0,
                            100% 0,
                            0% 0%,
                            0 100%;
    animation: bg 0.65s cubic-bezier(0.4, 0.4, 0.4, 0.4) 1;
  }

  /* Header/logo Title */
  .header {
    /* background: url(kuva1.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    padding: 170px; */
    text-align: center;
    width: 100%;
    color: white;
  }
  .palkki {
    overflow: hidden;
    background-color: #30333691;
    padding: 20px 10px;
    color: aqua;
  }
  .logo {
    padding-left: 46px;
  }
  
  .palkki a {
    float: left;
    color: #FFF;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 23px;
    padding-left: 23px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  .ylapalkki {
    float: right;
  }
  .ylapalkki a:hover{
    background-color: #D3E3FC;
    color: black;
  }

  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column; 
    /* max-height: 1500px; CHANGE THIS LATER AS NEEDED */
  }
  

  /* Main column */
  .mainleft {
    flex: 50%;
    background-color: white;
    padding-top:2rem;
    padding-right: 8vh;
    padding-left: 18vh;
    padding-bottom: 200px;
  }
  .mainright {
    flex: 50%;
    background-color: white;
    padding-left: 8vh;
    padding-right: 18vh;
    padding-top: 24vh;
    padding-bottom: 14vh;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    height: 380px;
    padding-right: 10px;
    padding-bottom: 200px;
  }  
  input[type=text], input[type=password], input[type=email] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  label[for=bloodsugar] {
    font-size: 2.2vh;
  }
  button {
    background-color: #77A6F7;
    color: white;
    padding: 14px 20px;
    margin: 6.5vh 0;
    border: none;
    cursor: pointer;
    width: auto;
    border-radius: 10px;
  }
  button:hover {
    opacity: 0.8;
  }
  button[type=direction] {
    background-color: #77A6F7;
    color: white;
    font-size: 30px;
    padding: 4px 14px;
    margin: 2.5vh 0;
    border: none;
    cursor: pointer;
    width: auto;
    border-radius: 10px;
  }
  button[type=direction]:nth-child(2) { /* Buttons for switching graph data*/

  }
  button[type=direction]:nth-child(3) {
    float: right;
  }
  .mainleft p, .mainright p {
    width: 40%;
  }
  .mainleft h2, .mainright h2 {
    font-size: 4vh;
    padding-top: 24vh;
  }
  .mainleft h5, .mainright h5 {
    font-size: 2.2vh;
    padding-top: 2.2vh;
    padding-bottom: 4vh;
  }
  /* dropdown list */
  a {
    text-decoration: none;
  }
  
  nav {
    font-family: monospace;
    position: absolute;
    left: 8.5%;
    padding-top: 6vh;
  }
  
  ul {
    background: #77A6F7;
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 14px;
  }
  .dropdown {
    font-size: 14px;
  }
  
  li {
    color: #fff;
    background: #77A6F7;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
  .dropdown li {
    background: rgb(170, 201, 255);
  }
    
  li a {
    color: #fff;
  }
  
  li:hover {
    background: #D3E3FC;
    cursor: pointer;
  }
  
  ul li ul {
    background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul, /* this is the line we add */
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  
  ul li ul li {
    clear: both;
    width: 100%;
  }
  /* dropdown end */

section {
    display: none;
}
section:first-of-type {
    display: block;
}

#myBtn {          /* Scroll button */
  display: none;
  position: fixed;
  bottom: 2vh;
  right: 4vh;
  z-index: 99;
  font-size: 3.2vh;
  border: none;
  outline: none;
  background-color: #77A6FC;
  color: white;
  cursor: pointer;
  padding: 10px 12px 10px 12px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #D3E3FC;
}
  @media (max-width: 880px) {
  
    .footer-distributed{
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i{
      margin-left: 0;
    }
  
  }
  @media screen and (max-width: 1200px) {
    .mainleft {   
      padding-left: 8vh;
      padding-right: 2vh;
    }
    .mainright {   
      padding-left: 2vh;
      padding-right: 8vh;
    }
    nav {
      left: 8vh;
    }
  }
  @media screen and (max-width: 900px) {
    .row {   
      flex-direction: column;
    }
    .mainleft, .mainright {
      padding-left: 4vh;
      padding-right: 4vh;
    }
    nav {
      left: 25%;
    }
  }

  @media screen and (max-width: 900px) {
    .formbloodsugar, .mainleft h2, .mainleft h5 {
      padding-left: 22%;
    }
  }

  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 540px) {
    .upperlist {   
      flex-direction: column;
      font-size: 20px;
    }
    .uppersection h1 {
      font-size: 42px;
      padding: 100px 0px 60px 0px;
    }
    nav {
      padding-top: 1.2vh;
    }
  }
  @media screen and (max-height: 680px) {
    #myBtn {   
      font-size: 20px;
      padding: 14px;
    }
    .mainleft h2, .mainright h2 {
      font-size: 26px;
      padding-top: 16rem;
    }
    .mainleft h5, .mainright h5, label[for=bloodsugar] {
      font-size: 18px;
    }
}


